################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CraftsWebApp/Pages/Contact.cshtml.cs
